.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: black;
    text-align: center;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 13px;
}
.footer-copyright{
    font-weight: 300;
    padding-right: 15px;
}
.footer-title{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    text-decoration: none;
}